NEXT_PUBLIC_SUPABASE_URL=https://jtjpndbduakckeqlfbhl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_BUAtlZOLZp-bxdKW15tg2w_s4wqjGzv
TWELVEDATA_API_KEY=15fbfd8c616b4065b095cbb0108c8dd0
TELEGRAM_BOT_TOKEN=8243611070:AAG-TGRKqTgJBjGlrGV46pz-eW30rJoNNRo
TELEGRAM_CHAT_ID=717335184